<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css">

  <title>Alex's Awesome Wiki</title>
</head>

<body>
  <a href="/" class="main-title">
    Alex's Awesome Wiki
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
      <a class="login-link" href="/_edit{{page_id}}">edit</a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
  <div class="history">
    <a class="history=link" href="/_history{{page_id}}">history</a>
  </div>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

